.resetpassword-box {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    font-style: italic;
  }
  
  .resetpassword-box h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    font-style: italic;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    font-style: italic;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-style: italic;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-style: italic;
  }
  
  button[type="submit"]:hover {
    background-color: #2E8B57;
    
  }
  
  .return-link {
    margin-top: 20px;
  }
  
  .return-link a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .return-link a:hover {
    text-decoration: underline;
  }
  